{#foreach($retourParser as $key=&gt;$val)
{
  echo $val["title"];
  echo  $val["description"];
  echo  $val["pubDate"];
  echo  $val["link"];
  foreach($val["category"] as $keysCategory=&gt;$valCategory)
  {
    echo $valCategory;
  }
 
}
#}
<ul id="cat_zone" class="nav nav-tabs">
  
</ul>
{% for val in parsed %}
  <div class="span6 box" category="{{ val.category.name }}">
      <div id="{{ val.id }}" class="top"><img src="{{ val.favicon }}" alt="{{ val.name }}"> {{ val.name }}</div>   

      <div class="btn-group pull-right">
        <button class="btn btn-mini"><i class="icon-adjust"></i></button>
        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
         <li><a href="#" class="seeall"><i class="icon-plus"></i> See all entries</a></li>
         <li><a href="{{ val.link }}" target="_blank" class="seeall"><i class="icon-map-marker"></i> See original RSS</a></li>
         <li class="divider"></li>
         <li><a href="#" rel="{{ val.id }}" class="change_category"><i class="icon-folder-open"></i> Change category</a></li>
         <li><a href="#" rel="{{ val.id }}" class="link_remover"><i class="icon-trash"></i> Remove this feed</a></li>
        </ul>
      </div>

      <span class="clearfix"></span>
      {% for xml in val.rss %}
        {% include 'AcmeTabBundle:Default:loop_v2.html.twig' %}
      {% endfor %}
  </div>
{% endfor %}